body {
  background-color: #f9f9fb;
  font-family: "Open Sans", sans-serif;
}
.box {
  display: block;
  width: 420px;
  min-height: 600px;
  margin: 50px auto;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 16px rgba(204, 204, 206, 0.5);
}
#container_two {
  display: block;
  float: left;
  width: 464px;
  padding: 48px;
}
.container_input input {
  height: 32px;
  width: 320px;
  margin-top: 8px;
  padding-left: 8px;
}

.container_input {
  margin-bottom: 24px;
}
label {
  color: #494a7d;
}

.event_buttons input {
  border-width: 0px;
  border-radius: 4px;
  padding: 8px;
  width: 106px;
  height: 42px;
  background-color: #0c75ff;
  color: white;
  font-weight: 600;
  font-size: 16px;
  margin: 16px 16px 16px 0;
}

select {
  width: 334px;
  padding: 16px;
}
.div_error {
  font-size: 13px;
  color: red;
  margin-top: 8px;
  margin-left: 8px;
}
.error {
  border-color: red;
}

#box_error {
  margin-top: 16px;
  font-weight: 700;
  color: #d01515;
}

.box_error {
  display: none;
}
