body {
  background-color: #f9f9fb;
  font-family: "Open Sans", sans-serif;
}
#box {
  display: block;
  overflow: hidden;
  width: 840px;
  margin: 50px auto;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 16px rgba(204, 204, 206, 0.5);
}

#container_form {
  display: block;
  width: 464px;
  padding-left: 360px !important;
  padding: 40px;
  background: url(/img/women_password.png) left center no-repeat;
  background-size: auto 100%;
}

h1 {
  font-family: "Lora", serif;
  color: #494a7d;
  margin: 0px 0px 24px 0px;
}
.divider {
  border: 1px solid #f9f9fb;
  margin-bottom: 24px;
}

.container_input input {
  height: 32px;
  width: 320px;
  margin-top: 8px;
  padding-left: 8px;
}
.container_input {
  margin-bottom: 24px;
}
label {
  color: #494a7d;
}

.form_buttons_container input {
  border-width: 0px;
  border-radius: 4px;
  padding: 8px;
  width: 106px;
  height: 42px;
  background-color: #0c75ff;
  color: white;
  font-weight: 600;
  font-size: 16px;
  margin: 16px 16px 16px 0;
  text-align: center;
}

.div_error {
  font-size: 13px;
  color: red;
  margin-top: 8px;
  margin-left: 8px;
}
.error {
  border-color: red;
}

#box_error {
  margin-top: 16px;
  font-weight: 700;
  color: #d01515;
}

.box_error {
  display: none;
}

#menu {
  display: block;
  background-color: white;
  height: 70px;
  background: #ffffff;
  border-radius: 16px 16px 0px 0px;
  overflow: hidden;
}

.generic_container {
  overflow: hidden;
  display: flex;
}

#sidebar {
  width: 200px;
  min-height: 100vh;
  display: block;
  float: left;
  border-radius: 0px 0px 0px 16px;
  padding: 48px 24px;
  background-color: rgb(245, 245, 245);
}

#container {
  background-color: red;
  display: block;
  float: left;
  width: 100%;
}

#login_form a {
  margin-top: 8px;
  display: block;
  float: left;
  width: 200px;
}

#logo {
  height: 70px;
}

#profile {
  height: 70px;
  width: 250px;
  display: block;
  float: right;
}

#profile-image {
  height: 40px;
  width: 40px;
  border-radius: 10000px;
  margin: 15px;
  display: block;
  float: left;
}

#user-online {
  display: block;
  float: left;
  height: 40px;
  width: 140px;
  margin: 20px 0px;
}
